<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OfficeFight.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OfficeFight.MySettings>
            <setting name="PLAYER_ONE_KEY_UP" serializeAs="String">
                <value>W</value>
            </setting>
            <setting name="PLAYER_ONE_KEY_DOWN" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="PLAYER_ONE_KEY_RIGHT" serializeAs="String">
                <value>D</value>
            </setting>
            <setting name="PLAYER_ONE_KEY_LEFT" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="PLAYER_TWO_KEY_UP" serializeAs="String">
                <value>UP</value>
            </setting>
            <setting name="PLAYER_TWO_KEY_DOWN" serializeAs="String">
                <value>DOWN</value>
            </setting>
            <setting name="PLAYER_TWO_KEY_RIGHT" serializeAs="String">
                <value>RIGHT</value>
            </setting>
            <setting name="PLAYER_TWO_KEY_LEFT" serializeAs="String">
                <value>LEFT</value>
            </setting>
            <setting name="PLAYER_ONE_KEY_SHOOT" serializeAs="String">
                <value>V</value>
            </setting>
            <setting name="PLAYER_TWO_KEY_SHOOT" serializeAs="String">
                <value>OemComma</value>
            </setting>
            <setting name="SHOOT_INTERVAL" serializeAs="String">
                <value>400</value>
            </setting>
        </OfficeFight.MySettings>
    </userSettings>
</configuration>